@font-face {
  font-family: "iconfont"; /* Project id 3372573 */
  src: url('iconfont.woff2?t=1652623563517') format('woff2'),
       url('iconfont.woff?t=1652623563517') format('woff'),
       url('iconfont.ttf?t=1652623563517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-number-4:before {
  content: "\e62b";
}

.icon-number-5:before {
  content: "\e62c";
}

.icon-number-6:before {
  content: "\e62d";
}

.icon-number-7:before {
  content: "\e62e";
}

.icon-number-9:before {
  content: "\e748";
}

.icon-number-8:before {
  content: "\e74c";
}

.icon-number-3:before {
  content: "\e74d";
}

.icon-number-2:before {
  content: "\e750";
}

.icon-number-1:before {
  content: "\e808";
}

.icon-blog:before {
  content: "\e61e";
}

.icon-column:before {
  content: "\e675";
}

.icon-talk:before {
  content: "\e8b9";
}

.icon-earth:before {
  content: "\e794";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-time-circle:before {
  content: "\e792";
}

.icon-message:before {
  content: "\e79e";
}

.icon-folder:before {
  content: "\e811";
}

.icon-read:before {
  content: "\e826";
}

.icon-message-fill:before {
  content: "\e8b7";
}

.icon-read-fill:before {
  content: "\e8f2";
}

.icon-eye:before {
  content: "\e7a5";
}

.icon-star:before {
  content: "\e83a";
}

.icon-eye-fill:before {
  content: "\e90b";
}

.icon-star-fill:before {
  content: "\e90f";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-QQ:before {
  content: "\e952";
}

.icon-weibo:before {
  content: "\e955";
}

.icon-wechat-fill:before {
  content: "\e959";
}

.icon-github-fill:before {
  content: "\e962";
}

