@font-face {
  font-family: "iconfont"; /* Project id 3372573 */
  src: url('iconfont.woff2?t=1652104483560') format('woff2'),
       url('iconfont.woff?t=1652104483560') format('woff'),
       url('iconfont.ttf?t=1652104483560') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time-circle:before {
  content: "\e792";
}

.icon-message:before {
  content: "\e79e";
}

.icon-folder:before {
  content: "\e811";
}

.icon-read:before {
  content: "\e826";
}

.icon-message-fill:before {
  content: "\e8b7";
}

.icon-read-fill:before {
  content: "\e8f2";
}

.icon-eye:before {
  content: "\e7a5";
}

.icon-star:before {
  content: "\e83a";
}

.icon-eye-fill:before {
  content: "\e90b";
}

.icon-star-fill:before {
  content: "\e90f";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-QQ:before {
  content: "\e952";
}

.icon-weibo:before {
  content: "\e955";
}

.icon-wechat-fill:before {
  content: "\e959";
}

.icon-github-fill:before {
  content: "\e962";
}

