@font-face {
  font-family: "iconfont"; /* Project id 3372573 */
  src: url('iconfont.woff2?t=1651482865127') format('woff2'),
       url('iconfont.woff?t=1651482865127') format('woff'),
       url('iconfont.ttf?t=1651482865127') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like-fill:before {
  content: "\e632";
}

.icon-like:before {
  content: "\e631";
}

.icon-QQ:before {
  content: "\e952";
}

.icon-weibo:before {
  content: "\e955";
}

.icon-wechat-fill:before {
  content: "\e959";
}

.icon-github-fill:before {
  content: "\e962";
}

