:root {
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.2) !important;
}

body {
  background-color: rgb(247 248 250);
  margin: unset;
  //overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


  .dropdown {
    border-radius: 0.5rem;

    .el-popper__arrow {
      display: none;
    }

    .el-scrollbar{
      position: unset;
    }
  }

  .tags-dropdown-select {
    display: none;
  }


  .matrix-message-box {
    vertical-align: unset;
    border-radius: 8px;
  }

  .popover {
    padding: 16px 0 !important;
    border-radius: 10px !important;
  }

  .symbol-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}